<html>

<head>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app"></div>

  <script>
    const App = Vue.defineComponent({

      setup() {
        const firstname = Vue.ref("")
        const lastname = Vue.ref("")

        const formal = Vue.ref(false)

        const headline = Vue.computed(() => formal.value ? `Guten Tag Herr/Frau ${lastname.value}` : `Moin ${firstname.value}`)

        return {
          headline,
          firstname,
          lastname,
          formal
        }
      },

      template: `<div>
          <h1>{{ headline }}</h1>
          Vorname <input type="text" v-model="firstname" />
          Nachname <input type="text" v-model="lastname" /> 
          Sietzen? <input type="checkbox" v-model="formal" />
        </div>`,
    });

    const app = Vue.createApp(App).mount("#app");
  </script>
</body>

</html>