<html>

<head>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <div id="app"></div>

  <script>
    const App = Vue.defineComponent({

      data() {
        return {
          firstname: "",
          lastname: "",
          formal: false
        }
      },

      computed: {
        headline() {
          return this.formal ? `Guten Tag Herr/Frau ${this.lastname}` : `Moin ${this.firstname ?? ""}`
        }
      },

      template: `<div>
          <h1>{{ headline }}</h1>
          Vorname <input type="text" v-model="firstname" />
          Nachname <input type="text" v-model="lastname" /> 
          Sietzen? <input type="checkbox" v-model="formal" />
        </div>`,
    });

    Vue.createApp(App).mount("#app");
  </script>
</body>

</html>